.by-constituency {
    position: relative;
    overflow: hidden;
}

.by-constituency__map {
    float: left;
    width: 50%;
    height: 168px;
    box-sizing: border-box;
    padding: 0 0 0 10px;
    &:first-child {
        padding: 0 10px 0 0;
    }

}

.by-constituency__arrow {
    position: absolute;
    top: 50%;
    left: 29%;
    right: 29%;
    background-color: #333;
    height: 2px;

    &::after {
        content: "";
        position: absolute;
        top: -4px;
        right: -2px;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-left: 10px solid #333;
        border-bottom: 5px solid transparent;
    }
}

.map-constituency {
    stroke: #fff;
    stroke-width: 1;
    stroke-opacity: 0.3;
    fill: #B3B3B4;
    fill-opacity: 0.6;
}

@each $party, $color in $partyColors {
    .map-constituency[data-party='#{$party}'] {
        fill: $color;
    }
}

.map-constituency[data-selected] {
    stroke: #333;
    stroke-width: 2;
    stroke-opacity: 1;
    fill-opacity: 1;
}
