.by-constituency {
    position: relative;
    overflow: hidden;
}

.by-constituency__time {
    float: right;
}

.by-constituency__map {
    position: relative;
    float: left;
    width: 50%;
    height: 168px;
    box-sizing: border-box;
    border-left: 2px solid #484f53;

    &:first-child {
        border-left: 0;
        border-right: 2px solid #484f53;
    }

    &::after {
        content: "2015";
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        background-color: #484f53;
        padding: 2px 5px;
    }

    &:first-child::after {
        content: "2010";
        left: auto;
        right: 0;
    }

}

.by-constituency__arrow {
    position: absolute;
    top: 50%;
    left: 29%;
    right: 29%;
    background-color: #333;
    height: 2px;

    &::after {
        content: "";
        position: absolute;
        top: -4px;
        right: -2px;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-left: 10px solid #333;
        border-bottom: 5px solid transparent;
    }
}

.map-constituency {
    stroke: #fff;
    stroke-width: 1;
    stroke-opacity: 0.3;
    fill-opacity: 0.6;
    transition: all 0.2s ease-in;
}

.map-constituency[data-party] {
    fill: #B3B3B4;
}

@each $party, $color in $partyColors {
    .map-constituency[data-party='#{$party}'] {
        fill: $color;
    }
}

.map-constituency[data-selected] {
    stroke: #333;
    stroke-width: 2;
    stroke-opacity: 1;
    fill-opacity: 1;
}
