.veri__party-table {
	font-size: 15px;
	max-width: 600px;
	td,th {
		text-align: right; // all right aligned except for party name field
	}
	td {
		border-top: 1px solid #dedede;
	}

	tbody {
		font-family: "Guardian Agate Sans 1 Web","Agate Sans",sans-serif;
	}
	td:nth-child(1),
	th:nth-child(1) {
		font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
		text-align: left;
	}

}