.veri-party-table {
	clear: both;
	font-size: 15px;
	width: 60%;
	float: right;

	td,th {
		text-align: right; // all right aligned except for party name field
		line-height: 24px;
	}
	th {
		font-weight: normal;
		color: #767676;
		text-transform: lowercase;
	}
	td {
		border-top: 1px dotted #dfdfdf;
	}

	tbody {
		font-family: "Guardian Agate Sans 1 Web","Agate Sans",sans-serif;
	}
	td:nth-child(1),
	th:nth-child(1) {
		text-align: left;
	}
	td:nth-child(1),
	th {
		font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
		font-size: 14px;
	}
}

.veri-party-table__seat-party td:first-child {
	font-weight: bold;
}
