$seatstack-bp: tablet !default;
$seatstack-height: 50px !default;
$seatstack-height-small: 37px;
$padding-top: 30px;

.seatstack {
    position: relative;

    font-family: $text-sans;
    font-size: 12px;

    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 20px;
    overflow: hidden;
    padding-top: $padding-top;
}

.seatstack__majority {
    text-align: center;
    width: 100%;
    position: absolute;
    height: 24px;
    line-height: 24px;
    top: $seatstack-height-small + $padding-top;
    font-size: 11px;
    &:after {
        content: '';
        border-left: 1px solid rgba(51,51,51,0.8);
        position: absolute;
        height: 6px;
        left: 50%;
        bottom: 100%;
        z-index: 1;
    }

    @include mq($seatstack-bp) {
        top: $seatstack-height + $padding-top;
    }

}

.seatstack__totals {
    position: absolute;
    top: $seatstack-height-small + $padding-top;
    font-size: 11px;
    line-height: 24px;
    display: none;
    @include mq($seatstack-bp) {
        display: block;
        top: $seatstack-height + $padding-top;
    }
}

.seatstack__results {
    display: none;
    position: absolute;
    top: $seatstack-height-small + $padding-top;
    line-height: 24px;
    font-size: 12px;
    @include mq($seatstack-bp) {
        top: $seatstack-height + $padding-top;
    }
    right: 0;
}

.seatstack__bar {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: $seatstack-height-small;
    margin-bottom: 24px;

    @include mq($seatstack-bp) {
        height: $seatstack-height;
        margin-bottom: 12px;
    }

    li {
        float: left;
        height: 100%;
        text-align: center;
        position: relative;
        font-family: $egyptian;
        font-weight: bold;
        font-weight: 600;
        font-size: 14px;

        span {
            position: absolute;
            bottom: 100%;
            left: -50px;
            right: -50px;
        }

        &[data-partyname='Lab'],
        &[data-partyname='Con'] {
            font-size: 18px;
            span {
                width: auto;
                display: block;
            }
        }
        &[data-partyname='Lab'] span {
            left: 0;
            right: auto;
        }
        &[data-partyname='Con'] span {
            left: auto;
            right: 0;
        }
    }

    @include mq($seatstack-bp) {
        li:hover {
            -webkit-filter: brightness(90%);
            filter: brightness(0.9);
        }
    }
}

$seatstack-list-lineheight: 24px;

.seatstack-list {
    width: calc(50% - 5px);
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    float: left;
    span {
        display: inline-block;
    }

    &.seatstack-list--2 {
        float: right;
    }
    @include mq($seatstack-bp) {
        width: calc(50% - 10px);
    }
    @include mq(desktop) {
        width: calc(50% - 20px);
    }
}

.seatstack-list__item {
    vertical-align: middle;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    border-bottom: 1px solid #f1f1f1;
    transition: background-color 50ms;

    @include mq($seatstack-bp) {
        height: 36px;
        line-height: 36px;
    }
    &.is-header,
    &:last-child {
        border-bottom: 0;
    }

    @include mq($seatstack-bp) {
        cursor: pointer;
        &:hover {
            background-color: #f7f7f7;
            transition: none;
        }
    }
}

.seatstack-list__partybox {
  width: 8px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
}

.seatstack-list__party-name {
    margin-left: 12px;
}

.seatstack-list__gains,
.seatstack-list__losses,
.seatstack-list__seats {
    float: right;

    &.is-header {
        font-size: 11px;
        border-left: 0;
    }
}

.seatstack-list__gains,
.seatstack-list__losses {
    color: #aaa;
    width: 35px;
    border-left: 1px dotted #f1f1f1;
    text-align: right;

    display: none !important;
    @media (min-width: 370px) {
        display: inline-block !important;
    }
}

.seatstack-list__gains {
    padding-right: 6px;
}

.seatstack-list__seats {
    color: #333;
    font-weight: bold;
    padding-right: 6px;
}
