@import 'vars';
@import 'mq';

$text-sans: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
$agate: "Guardian Agate Sans 1 Web","Agate Sans",sans-serif;
$egyptian: "Guardian Egyptian Web",Georgia,serif;

#election-snap {
    width: 100%;
    border-top: 1px solid #333;
    padding-top: 6px;
    background-color: #dcdcdc;

    @import 'parties'; // TODO: remove when seatstack is fixed
    $seatstack-height: 37px;
    $seatstack-top: 24px;
    //$seatstack-bp: desktop;
    @import 'seatstack';
    @import 'hourbyhour';
    @import 'byconstituency';
    @import 'coalitions';

    .snap {
        overflow: hidden;
        height: 220px;
    }

    .snap__left-pane {
        float: left;
        width: 100%;
        box-sizing: border-box;

        @include mq(tablet) {
            width: 50%;
            padding-right: 20px;
            border-right: 1px solid #bdbdbd;
        }
    }

    .snap__right-pane {
        float: right;
        width: 50%;
        height: 100%;
        padding-left: 20px;
        box-sizing: border-box;

        font-family: $text-sans;
        font-size: 12px;
        line-height: 16px;

        display: none;
        @include mq(tablet) {
            display: block;
        }
    }

    #analysis {
        visibility: hidden;
    }

    .seatstack__results {
        display: block;
    }

    .seatstack__totals {
        display: none;
        @include mq(desktop) {
            display: block;
        }
    }

    .seatstack__bar {
        margin-bottom: 30px; // force even on mobile
        & li:hover {
            -webkit-filter: none;
            filter: none;
        }
    }

    .seatstack-list__item {
        border-bottom-color: #bdbdbd;
        cursor: auto;
        height: auto;
        line-height: 24px;
        font-size: 12px;
        &:hover {
            background-color: transparent;
        }
    }

    .seatstack-list__party-name {
        margin-left: 3px;
    }

    .seatstack-list__losses,
    .seatstack-list__gains {
        border-left-color: #bdbdbd;
    }

    h2 {
        font-family: $egyptian;
        font-size: 14px;
        line-height: 1.25;
        padding: 6px 0;
    }

    a {
        color: #005689;
    }
}
