@import 'vars';
@import 'mq';

#election-snap {
    width: 100%;
    border-top: 1px solid #333;
    padding-top: 12px;
    background-color: #dcdcdc;

    @import 'seatstack';
    @import 'parties';

    .snap {
        overflow: hidden;
        -webkit-font-smoothing: antialiased;
        height: 220px;
    }

    .snap__left-pane {
        float: left;
        width: 60%;
    }

    .snap__right-pane {
        float: right;
        width: 40%;
    }

    .seatstack__bar li:hover {
        -webkit-filter: none;
        filter: none;
    }

    .nightahead {
        list-style: 0;
        margin: 0;
        padding: 0;
    }

    .nightahead__item {
        float: left;
        width: 25%;
        height: 100px;
    }
}
